<div ng-controller="locationsCtrl">
<div class="page-header">
    <h3 align="center" class="text-warning">Flux Location Configuration</h3>
</div>
<div class="container">
<div class="col-sm-12">
	<div class="row">
		<div ng-style="{'margin-right': scrollBarWidth}" >
		<h3 class="text-primary">Location List:</h3>
		<table class="table " style="margin-bottom: 0px;" >
			<thead>
				<tr>
					<th width="5%">ID</th>
					<th width="10%">Token</th>
					<th width="20%">Name</th>
					<th width="30%">Description</th>
					<th width="30%">Direction Tokens</th>
				</tr>
			</thead>
		</table>
		</div>
		<div class="bodycontainer scrollable">
		<table class="table table-scrollable" >
			<tbody>
			<tr ng-repeat="location in locationList | orderBy : 'ID'" ng-click="highlightRow($index);selectItem(location)" 
											ng-dblclick="edit(item)"	ng-class="{'selected':$index == selectedRow}"> 
				<td width="5%">{{ location.ID }}</td>
				<td width="10%">{{ location.token }}</td>
				<td width="20%">{{ location.name }}</td>
				<td width="30%">{{ location.desc }}</td>
				<td width="30%"><ul style="list-style-type: none;padding: 0px;" ><li ng-repeat="dir in location.directionList">
								{{dir.direction }}&nbsp:&nbsp{{dir.dir_token}}&nbsp{{dir.directionInActive == true ? ":&nbspInactive" : ""}}</li></ul></td>
			</tr>
			</tbody>		
		</table>
		</div>
		</div>
	</div>
</div>	
	
<div class="container">
	<div class="row">
		<div class="col-sm-12">
		<p>  </p>
		<div class="centered">
		<button class="btn btn-success" ng-click="addNew()">New Item</button>
		<button class="btn btn-info" ng-click="edit(location)">Edit Selected</button>
		<button class="btn btn-primary" ng-click="delete(location)">Delete Selected</button>
		<button class="btn btn-danger" ng-click="clearAll()">Clear Screen</button>
		</div>
		</div>
	</div>
</div>

<div class="clearfix visible-sm-block"></div>

<form name="detailForm" novalidate >
<div class="container form-group" >
	<h3 class="text-primary">Location Details:</h3>

	<div class="row">
			<div class="col-sm-1">
			<label for="ID" class="control-label" ng-disabled="true" ng-focus="addedit">ID</label>
			<input class="form-control" name="ID" type="text" ng-model="locationDetail.ID" ng-readonly="readdetail">
			</div >
			<div class="col-sm-3">
			<label for="token" class="control-label" ng-focus="addedit">Token</label>
			<input class="form-control" name="token" type="text" ng-model="locationDetail.token" ng-readonly="readdetail">
			<div >
			<span  style="color:red" ng-show="submitted && detailForm.token.$invalid">
					Token is required!</span>
			</div>
			</div>
			<div class="col-sm-6">
			<label for="name" class="control-label" >Name</label>
			<input class="form-control" name="name" type="text" ng-model="locationDetail.name" ng-readonly="readdetail">
			</div>
		</div>
		<div class="row">	
			<div class="col-sm-8" >
			<label for="desc" class="control-label" >Description</label>
			<input name="desc" class="form-control" type="text" ng-model="locationDetail.desc" ng-readonly="readdetail" >
			</div>
		</div>
		
	<div class="clearfix visible-sm-block"></div>
</div>
		
<dirlistmgr datasource="locationDetail.directionList" readdetail="readdetail" directions="directions"></dirlistmgr>

<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<button class="btn btn-pink" ng-click="addUpdate()" ng-disabled="readdetail">Add/Update</button>
			</div>
		</div>
</div>
</form>

		
<div class="clearfix visible-sm-block"></div>

<div class="container">
	<div class="row">
	 <div class="col-sm-12">
		<p></p>
		<div class="centered">
		<button class="btn btn-info" ng-click="load()">Load Locations</button>
		<button class="btn btn-success" ng-click="save()">Save Locations</button>
		<button class="btn btn-primary" ng-click="discardChanges()">Discard Changes</button>
		</div>
	  </div>
	</div>
	<p></p>
</div>

</div>

